header {
    position: fixed;
    top: 0;
    left: 0;
    height: 8%;
    width: 100vw;
    background-color: #221E22;
    color: #C4F1BE;
}
header h4, header nav, header ul, header li {
    display: inline;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}
header h4 {
    color: #C4F1BE;
    font-size: 2rem;
}
header nav {
    float: right;
}
.dropdown-box {
    height: 100%;
    position: relative;
    display: inline-block;
}
.dropdown {
    display: none;
    transition: all 0.8s ease;
    position: absolute;
    z-index: 1;
    transform: translate(-10px);
}
.dropdown-box:hover .dropdown {
    display: block;
}
.dropdown li {
    display: block;
    width: 300%;
    padding: 7px 10px;
    background-color: #221E22;
}
.dropdown li:hover {
    background-color: #514851;
}
.dropdown a {
    color: #C4F1BE;
    text-decoration: none;
}