{% extends "layouts/main.njk" %}

{% set pageTitle = "Home" %}
{% set styles = ["reset", "main", "header", "cover"]%}

{% block body %}
  <section class="cover-content">
    <h1 class="main-title">{{book.title}}</h1>
    <h2 class="author-name">{{book.author}}</h2>
    <img class="cover-img" src="{{book.cover}}"/>
  </section>
{% endblock %}