{% extends "layouts/main.njk" %}
{% set pageTitle %}
{{page.title}}
{% endset %}
{% set styles = ["reset", "main", "header", "page"] %}r

{% block body %}
    <div class='container'>
        <h1 class="page-title">{{page.title}}</h1>

        <section class="page-content">
            {{page.content | safe}}
        </section>
    </div>
{% endblock %}